.App {
  text-align: center;
}
.Calculator{
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column; 
  
  
}
.Monitor{
  width: 155px;
  height: 30vh;
  border: 1px solid black;
  background-color: gray;
  margin: auto;
  border: 1px solid
}
.numberButton{
  background-color: black;
}
